In [158]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from wordcloud import WordCloud
import re
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
import gensim
from gensim import corpora

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [159]:
TeamsData = pd.read_csv('/content/Dataset/Team_DT.csv')
TeamsData = TeamsData.loc[:, ~TeamsData.columns.str.contains('^Unnamed')]
#display(TeamsData)

In [160]:
import pandas as pd
dataofplayerteam = pd.read_csv('/content/Dataset/Players.csv')
print(dataofplayerteam)

             Player  Player ID            Full Name  IPL Team key
0     KS Williamson     277906      Kane Williamson           107
1       Rashid Khan     793463          Rashid Khan           107
2     Mohammad Nabi      25913        Mohammad Nabi           107
3           PK Garg    1070180          Priyam Garg           107
4       JM Bairstow     297433       Jonny Bairstow           107
..              ...        ...                  ...           ...
135        MS Dhoni      28081             MS Dhoni           102
136       DL Chahar     447261        Deepak Chahar           102
137  AB de Villiers      44936       AB de Villiers           100
138        R Ashwin      26421  Ravichandran Ashwin           103
139     SS Cottrell     495551     Sheldon Cottrell           104

[140 rows x 4 columns]

Royal Challengers Bangalore

In [161]:
RCB = dataofplayerteam.groupby('IPL Team key').get_group(100)
RCB.reset_index(inplace = True, drop = True)
RCB.head(1)

     Player  Player ID      Full Name  IPL Team key
0  NA Saini     700167  Navdeep Saini           100

Mumbai Indians

In [162]:
oldMI = dataofplayerteam.groupby('IPL Team key').get_group(101)
oldMI

MI_Player = oldMI.Player  
MI_PLayer_ID = oldMI['Player ID']
MI_Full_Name = oldMI['Full Name']
MI_IPL_Team_key = oldMI['IPL Team key']

MI = {}
MI = pd.DataFrame(MI)

MI['Player'] = oldMI['Player']
MI['Player ID'] = oldMI['Player ID']
MI['Full Name'] = oldMI['Full Name']
MI['IPL Team key'] = oldMI['IPL Team key']

#MI['Player ID'] = oldMI['Player ID']
#MI['Player'] = oldMI['Player']
#MI['IPL Team key'] = oldMI['IPL Team key']
#for i in range(0,len(MI)):
#  MI['IPL Team Name'] = 'Mumbai Indians'
MI.reset_index(inplace = True, drop = True)
display(MI)

             Player  Player ID            Full Name  IPL Team key
0          AF Milne     450860           Adam Milne           101
1            AS Roy    1079839           Anukul Roy           101
2        KA Pollard     230559       Kieron Pollard           101
3         KH Pandya     471342        Krunal Pandya           101
4         HH Pandya     625371        Hardik Pandya           101
5           E Lewis     431901           Evin Lewis           101
6         JJ Bumrah     625383       Jasprit Bumrah           101
7       DS Kulkarni     277955      Dhawal Kulkarni           101
8      Ishan Kishan     720471         Ishan Kishan           101
9         RG Sharma      34102         Rohit Sharma           101
10         SA Yadav     446507     Suryakumar Yadav           101
11          CA Lynn     326637           Chris Lynn           101
12        CR Woakes     247235         Chris Woakes           101
13          AP Tare     333904          Aditya Tare           101
14        Q de Kock     379143      Quinton de Kock           101
15         TA Boult     277912          Trent Boult           101
16        RD Chahar    1064812         Rahul Chahar           101
17  NM Coulter-Nile     261354  Nathan Coulter-Nile           101
18        SS Tiwary      35390       Saurabh Tiwary           101

Chennai Super Kings

In [163]:
CSK = dataofplayerteam.groupby('IPL Team key').get_group(102)
CSK.reset_index(inplace = True, drop = True)
CSK.head(2)

       Player  Player ID      Full Name  IPL Team key
0  RV Uthappa      35582  Robin Uthappa           102
1      MM Ali       8917      Moeen Ali           102

Delhi Capitals

In [164]:
DC = dataofplayerteam.groupby('IPL Team key').get_group(103)
DC.reset_index(inplace = True, drop = True)
DC

         Player  Player ID            Full Name  IPL Team key
0    MP Stoinis     325012       Marcus Stoinis           103
1       PP Shaw    1070168         Prithvi Shaw           103
2        JJ Roy     298438            Jason Roy           103
3      K Rabada     550215        Kagiso Rabada           103
4   LE Plunkett      19264        Liam Plunkett           103
5      AR Patel     554691           Axar Patel           103
6       RR Pant     931581         Rishabh Pant           103
7      A Nortje     481979        Anrich Nortje           103
8       SS Iyer     642519         Shreyas Iyer           103
9    SO Hetmyer     670025      Shimron Hetmyer           103
10      C Munro     232359          Colin Munro           103
11   Avesh Khan     694211           Avesh Khan           103
12     S Dhawan      28235       Shikhar Dhawan           103
13     A Mishra      31107          Amit Mishra           103
14    SPD Smith     267192          Steve Smith           103
15    AM Rahane     277916       Ajinkya Rahane           103
16     R Ashwin      26421  Ravichandran Ashwin           103

Punjab Kings

In [165]:
PK = dataofplayerteam.groupby('IPL Team key').get_group(104)
PK.reset_index(inplace = True, drop = True)
PK

            Player  Player ID         Full Name  IPL Team key
0         DJ Hooda     497121      Deepak Hooda           104
1     Ravi Bishnoi    1175441      Ravi Bishnoi           104
2         KL Rahul     422108       K. L. Rahul           104
3         N Pooran     604302   Nicholas Pooran           104
4    Mandeep Singh     398506     Mandeep Singh           104
5          SN Khan     642525     Sarfaraz Khan           104
6        CJ Jordan     288992      Chris Jordan           104
7    Harpreet Brar    1168641     Harpreet Brar           104
8         CH Gayle      51880       Chris Gayle           104
9   Arshdeep Singh    1125976    Arshdeep Singh           104
10  Mohammed Shami     481896    Mohammed Shami           104
11    MC Henriques       5961  Moises Henriques           104
12        AJ Finch       5334       Aaron Finch           104
13        M Ashwin     528067    Murugan Ashwin           104
14      MA Agarwal     398438    Mayank Agarwal           104
15     SS Cottrell     495551  Sheldon Cottrell           104

Kolkata Knight Riders

In [166]:
KKR = dataofplayerteam.groupby('IPL Team key').get_group(105)
KKR.reset_index(inplace = True, drop = True)
KKR

               Player  Player ID           Full Name  IPL Team key
0            RK Singh     723105         Rinku Singh           105
1        Shubman Gill    1070173        Shubman Gill           105
2         Shivam Mavi    1079848         Shivam Mavi           105
3   S Sandeep Warrier     592735     Sandeep Warrier           105
4              N Rana     604527         Nitish Rana           105
5   M Prasidh Krishna     917159     Prasidh Krishna           105
6           SP Narine     230558        Sunil Narine           105
7        KL Nagarkoti    1070188   Kamlesh Nagarkoti           105
8       Kuldeep Yadav     559235       Kuldeep Yadav           105
9            CV Varun    1108375  Varun Chakravarthy           105
10         EJG Morgan      24598         Eoin Morgan           105
11          TK Curran     550235          Tom Curran           105
12         AD Russell     276298       Andre Russell           105
13         KD Karthik      30045      Dinesh Karthik           105
14         PJ Cummins     489889         Pat Cummins           105
15      CR Brathwaite     457249   Carlos Brathwaite           105
16        RA Tripathi     446763      Rahul Tripathi           105
17        LH Ferguson     493773     Lockie Ferguson           105

Rajasthan Royals

In [167]:
RR = dataofplayerteam.groupby('IPL Team key').get_group(106)
RR.reset_index(inplace = True, drop = True)
RR

         Player  Player ID         Full Name  IPL Team key
0        S Dube     714451       Shivam Dube           106
1       R Parag    1079434       Riyan Parag           106
2     MK Lomror     853265    Mahipal Lomror           106
3   YBK Jaiswal    1151278  Yashasvi Jaiswal           106
4     JC Archer     669855      Jofra Archer           106
5    M Markande    1081442   Mayank Markande           106
6       S Gopal     344580     Shreyas Gopal           106
7    JC Buttler     308967       Jos Buttler           106
8       M Vohra     532856       Manan Vohra           106
9     DA Miller     321777      David Miller           106
10       AJ Tye     459508        Andrew Tye           106
11    R Tewatia     423838     Rahul Tewatia           106
12    SV Samson     425943      Sanju Samson           106
13    CH Morris     439952      Chris Morris           106
14    BA Stokes     311158        Ben Stokes           106
15   JD Unadkat     390484    Jaydev Unadkat           106

Sunrisers Hyderabad

In [168]:
SH = dataofplayerteam.groupby('IPL Team key').get_group(107)
SH.reset_index(inplace = True, drop = True)
SH

              Player  Player ID          Full Name  IPL Team key
0      KS Williamson     277906    Kane Williamson           107
1        Rashid Khan     793463        Rashid Khan           107
2      Mohammad Nabi      25913      Mohammad Nabi           107
3            PK Garg    1070180        Priyam Garg           107
4        JM Bairstow     297433     Jonny Bairstow           107
5           KK Ahmed     942645      Khaleel Ahmed           107
6        Abdul Samad    1175485        Abdul Samad           107
7            B Kumar     326016  Bhuvneshwar Kumar           107
8       Basil Thampi     732291       Basil Thampi           107
9     Mohammed Siraj     940973     Mohammed Siraj           107
10         MK Pandey     290630      Manish Pandey           107
11        SP Goswami     302579  Shreevats Goswami           107
12    Sandeep Sharma     438362     Sandeep Sharma           107
13       T Natarajan     802575        T Natarajan           107
14  Mujeeb Ur Rahman     974109   Mujeeb Ur Rahman           107
15         DA Warner     219889       David Warner           107
16          S Nadeem      31872     Shahbaz Nadeem           107
17            S Kaul     326017      Siddarth Kaul           107
18         V Shankar     477021      Vijay Shankar           107
19           WP Saha     279810    Wriddhiman Saha           107
20   Abhishek Sharma    1070183    Abhishek Sharma           107
21         JO Holder     391485       Jason Holder           107
22          MR Marsh     272450     Mitchell Marsh           107

Best Batmen

In [169]:
list_Best_Batsmen_2019 = pd.read_csv('/content/Dataset/list_Best_Batsmen_2019.csv')
list_Best_Batsmen_2019 = list_Best_Batsmen_2019.loc[:, ~list_Best_Batsmen_2019.columns.str.contains('^Unnamed')]
display(list_Best_Batsmen_2019)

    player_id          Player  IPL Team Key  Score
0      219889       DA Warner           107     30
1      422108        KL Rahul           101     30
2      379143       Q de Kock           101     30
3       28235        S Dhawan           101     30
4      276298      AD Russell           101     30
5       51880        CH Gayle           101     20
6      931581         RR Pant           101     20
7      253802         V Kohli           100     20
8      642519         SS Iyer           101     20
9      297433     JM Bairstow           107     20
10      44936  AB de Villiers           100     20
11     446507        SA Yadav           101     20
12      28081        MS Dhoni           102     20
13      34102       RG Sharma           101     20
14     326637         CA Lynn           101     20
15     625371       HH Pandya           101     20
16       8180       SR Watson           102     10
17      44828    F du Plessis           102     10
18     277916       AM Rahane           106     10
19      33335        SK Raina           102     10
20      32242        PA Patel           100     10
21    1070168         PP Shaw           101     10
22     290630       MK Pandey           107     10
23     604527          N Rana           101     10
24     425943       SV Samson           106     10
25     398438      MA Agarwal           101     10
26     267192       SPD Smith           106     10
27     308967      JC Buttler           106     10

Best Bowler

In [170]:
list_Best_Bowler_2019 = pd.read_csv('/content/Dataset/list_Best_Bowler_2019.csv')
list_Best_Bowler_2019 = list_Best_Bowler_2019.loc[:, ~list_Best_Bowler_2019.columns.str.contains('^Unnamed')]
display(list_Best_Bowler_2019)

    player_id          Player  Score
0      625383       JJ Bumrah     20
1      277912        TA Boult     20
2      550215        K Rabada     20
3      481979        A Nortje     20
4      430246       YS Chahal     20
5      481896  Mohammed Shami     20
6      669855       JC Archer     20
7      942645        KK Ahmed     10
8     1108375        CV Varun     10
9      793463     Rashid Khan     10
10    1064812       RD Chahar     10
11     662973       SM Curran     10
12     439952       CH Morris     10
13      26421        R Ashwin     10
14     325012      MP Stoinis     10
15     236779        I Sharma     10
16     326016         B Kumar     10
17    1175441    Ravi Bishnoi     10
18     438362  Sandeep Sharma     10
19     447261       DL Chahar     10
20     489889      PJ Cummins     10
21      31107        A Mishra     10
22     439952       CH Morris     10
23     940973  Mohammed Siraj     10
24     272465    JL Pattinson     10
25     475281       SN Thakur     10
26     344580         S Gopal     10
27     423838       R Tewatia     10

In [171]:
RCB

               Player  Player ID            Full Name  IPL Team key
0            NA Saini     700167        Navdeep Saini           100
1          D Padikkal    1119026     Devdutt Padikkal           100
2             V Kohli     253802          Virat Kohli           100
3         Sachin Baby     432783          Sachin Baby           100
4       KW Richardson     272262      Kane Richardson           100
5           YS Chahal     430246     Yuzvendra Chahal           100
6     C de Grandhomme      55395  Colin de Grandhomme           100
7          GJ Maxwell     325026        Glenn Maxwell           100
8             A Zampa     379504           Adam Zampa           100
9   Washington Sundar     719715    Washington Sundar           100
10         TG Southee     232364          Tim Southee           100
11     AB de Villiers      44936       AB de Villiers           100

In [172]:
MI.head(2)

     Player  Player ID   Full Name  IPL Team key
0  AF Milne     450860  Adam Milne           101
1    AS Roy    1079839  Anukul Roy           101

In [173]:
#Main Code

T1 = RCB
T2 = MI

T1_key = T1.iloc[0,3]
TeamsDataT1 = TeamsData[TeamsData['IPL Team key'] == T1_key]
T1_Name = TeamsDataT1['IPL Team Name'].values[0]
#display(T1_Name)


T2_key = T2.iloc[0,3]
TeamsDataT2 = TeamsData[TeamsData['IPL Team key'] == T2_key]
T2_Name = TeamsDataT2['IPL Team Name'].values[0]
#display(T2_Name)



#Best batting score by Runs

T1_batting_score = 0
T2_batting_score = 0
T1_bowling_score = 0
T2_bowling_score = 0


for i in range(0,len(T1)):
  player = T1.iloc[i,0]
  
  for j in range(0,len(list_Best_Batsmen_2019)):
    best_batsmen = list_Best_Batsmen_2019.iloc[j,1]

    if(best_batsmen == player):
      T1_batting_score = T1_batting_score + list_Best_Batsmen_2019.iloc[j,3]

#print('Team 1 Score of best batsmen Score is ',T1_batting_score)

#print('')

for i in range(0,len(T2)):
  player = T2.iloc[i,0]
  
  for j in range(0,len(list_Best_Batsmen_2019)):
    best_batsmen = list_Best_Batsmen_2019.iloc[j,1]

    if(best_batsmen == player):
      T2_batting_score = T2_batting_score + list_Best_Batsmen_2019.iloc[j,3]

#print('Team 2 Score of best batsmen score is ',T2_batting_score)

#print('')



#Team 1
for i in range(0,len(T1)):
  player = T1.iloc[i,0]
  
  for j in range(0,len(list_Best_Bowler_2019)):
    best_bowler = list_Best_Bowler_2019.iloc[j,1]

    if(best_bowler == player):
      T1_bowling_score = T1_bowling_score + list_Best_Bowler_2019.iloc[j,2]

#print('Team 1 Score of best Bowling Score is ',T1_bowling_score)

#print('')

#Team -2 

for i in range(0,len(T2)):
  player = T2.iloc[i,0]
  
  for j in range(0,len(list_Best_Bowler_2019)):
    best_bowler = list_Best_Bowler_2019.iloc[j,1]

    if(best_bowler == player):
      T2_bowling_score = T2_bowling_score + list_Best_Bowler_2019.iloc[j,2]

#print('Team 2 Score of best Bowling Score is ',T2_bowling_score)

#print('')


Tty_Team1 = T1_batting_score + T1_bowling_score
Tty_Team2 =  T2_batting_score + T2_bowling_score

print('Total score of',T1_Name,'is',Tty_Team1)
print('')
print('Total score of',T2_Name,'is',Tty_Team2)

Total score of Royal Challengers Bangalore is 60

Total score of Mumbai Indians is 160

## Matches

In [174]:
Matches = pd.read_csv('/content/Dataset/matches.csv')
display(Matches.head(2))

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN

In [175]:
Matches_of_2019 = Matches.groupby('season').get_group(2019)
Matches_of_2019

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
696,11137,2019,Chennai,23-03-2019,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,7,Harbhajan Singh,M. A. Chidambaram Stadium,Bruce Oxenford,Anil Dandekar,Nitin Menon
697,11138,2019,Kolkata,24-03-2019,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,6,AD Russell,Eden Gardens,Chris Gaffaney,Anil Chaudhary,Vineet Kulkarni
698,11139,2019,Mumbai,24-03-2019,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,normal,0,Delhi Capitals,37,0,RR Pant,Wankhede Stadium,S Ravi,Yeshwant Barde,O Nandan
699,11140,2019,Jaipur,25-03-2019,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,Kings XI Punjab,14,0,CH Gayle,Sawai Mansingh Stadium,C Shamshuddin,KN Anantapadmanabhan,Bruce Oxenford
700,11141,2019,Delhi,26-03-2019,Delhi Capitals,Chennai Super Kings,Delhi Capitals,bat,normal,0,Chennai Super Kings,0,6,SR Watson,Feroz Shah Kotla Ground,Marais Erasmus,Nitin Menon,Anil Dandekar
701,11142,2019,Kolkata,27-03-2019,Kolkata Knight Riders,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kolkata Knight Riders,28,0,AD Russell,Eden Gardens,Anil Chaudhary,Vineet Kulkarni,Chris Gaffaney
702,11143,2019,Bengaluru,28-03-2019,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Mumbai Indians,6,0,JJ Bumrah,M. Chinnaswamy Stadium,S Ravi,O Nandan,Yeshwant Barde
703,11144,2019,Hyderabad,29-03-2019,Rajasthan Royals,Sunrisers Hyderabad,Rajasthan Royals,bat,normal,0,Sunrisers Hyderabad,0,5,Rashid Khan,Rajiv Gandhi Intl. Cricket Stadium,Bruce Oxenford,C Shamshuddin,KN Anantapadmanabhan
704,11145,2019,Mohali,30-03-2019,Mumbai Indians,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,8,MA Agarwal,IS Bindra Stadium,Vineet Kulkarni,Chris Gaffaney,Anil Chaudhary
705,11146,2019,Delhi,30-03-2019,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,tie,0,Delhi Capitals,0,0,P Shaw,Feroz Shah Kotla Ground,Anil Dandekar,Nitin Menon,Marais Erasmus
706,11147,2019,Hyderabad,31-03-2019,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,118,0,J Bairstow,Rajiv Gandhi Intl. Cricket Stadium,S Ravi,KN Anantapadmanabhan,C Shamshuddin
707,11148,2019,Chennai,31-03-2019,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,8,0,MS Dhoni,M. A. Chidambaram Stadium,O Nandan,Yeshwant Barde,Bruce Oxenford
708,11149,2019,Mohali,01-04-2019,Kings XI Punjab,Delhi Capitals,Delhi Capitals,field,normal,0,Kings XI Punjab,14,0,S Curran,IS Bindra Stadium,Anil Chaudhary,Chris Gaffaney,Vineet Kulkarni
709,11150,2019,Jaipur,02-04-2019,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,S Gopal,Sawai Mansingh Stadium,Marais Erasmus,Anil Dandekar,Nitin Menon
710,11151,2019,Mumbai,03-04-2019,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,37,0,HH Pandya,Wankhede Stadium,Bruce Oxenford,Rod Tucker,Yeshwant Barde
711,11152,2019,Delhi,04-04-2019,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,5,J Bairstow,Feroz Shah Kotla Ground,C Shamshuddin,KN Anantapadmanabhan,S Ravi
712,11153,2019,Bengaluru,05-04-2019,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,5,AD Russell,M. Chinnaswamy Stadium,Anil Chaudhary,Chris Gaffaney,O Nandan
713,11309,2019,Chennai,06-04-2019,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,22,0,Harbhajan Singh,M. A. Chidambaram Stadium,KN Ananthapadmanabhan,Rod Tucker,C Shamshuddin
714,11310,2019,Hyderabad,06-04-2019,Mumbai Indians,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Mumbai Indians,40,0,A Joseph,Rajiv Gandhi Intl. Cricket Stadium,Anil Dandekar,Nitin Menon,Marais Erasmus
715,11311,2019,Bengaluru,07-04-2019,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,4,K Rabada,M. Chinnaswamy Stadium,S Ravi,Yeshwant Barde,O Nandan
716,11312,2019,Jaipur,07-04-2019,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,8,H Gurney,Sawai Mansingh Stadium,Chris Gaffaney,Anil Chaudhary,Bruce Oxenford
717,11313,2019,Mohali,08-04-2019,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,Marais Erasmus,Anil Dandekar,Nitin Menon
718,11314,2019,Chennai,09-04-2019,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,7,DL Chahar,M. A. Chidambaram Stadium,Rod Tucker,C Shamshuddin,Ulhas Gandhe
719,11315,2019,Mumbai,10-04-2019,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,3,KA Pollard,Wankhede Stadium,Yeshwant Barde,S Ravi,O Nandan
720,11316,2019,Jaipur,11-04-2019,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,4,MS Dhoni,Sawai Mansingh Stadium,Bruce Oxenford,Ulhas Gandhe,Chris Gaffaney
721,11317,2019,Kolkata,12-04-2019,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,7,S Dhawan,Eden Gardens,Yeshwant Barde,O Nandan,Rod Tucker
722,11318,2019,Mumbai,13-04-2019,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,4,JC Buttler,Wankhede Stadium,Nitin Menon,Nanda Kishore,Marais Erasmus
723,11319,2019,Mohali,13-04-2019,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,8,AB de Villiers,IS Bindra Stadium,S Ravi,Ulhas Gandhe,Nigel Llong
724,11320,2019,Kolkata,14-04-2019,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,Imran Tahir,Eden Gardens,Rod Tucker,O Nandan,Yeshwant Barde
725,11321,2019,Hyderabad,14-04-2019,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Delhi Capitals,39,0,K Paul,Rajiv Gandhi Intl. Cricket Stadium,Anil Chaudhary,Bruce Oxenford,Chris Gaffaney
726,11322,2019,Mumbai,15-04-2019,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,5,SL Malinga,Wankhede Stadium,Marais Erasmus,Nitin Menon,Nanda Kishore
727,11323,2019,Mohali,16-04-2019,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,Kings XI Punjab,12,0,R Ashwin,IS Bindra Stadium,Anil Chaudhary,Vineet Kulkarni,S Ravi
728,11324,2019,Hyderabad,17-04-2019,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,normal,0,Sunrisers Hyderabad,0,6,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,Ian Gould,Ulhas Gandhe,C Shamshuddin
729,11325,2019,Delhi,18-04-2019,Mumbai Indians,Delhi Capitals,Mumbai Indians,bat,normal,0,Mumbai Indians,40,0,HH Pandya,Feroz Shah Kotla Ground,Nigel Llong,Bruce Oxenford,Anil Chaudhary
730,11326,2019,Kolkata,19-04-2019,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Royal Challengers Bangalore,10,0,V Kohli,Eden Gardens,Ian Gould,Nitin Menon,Anil Dandekar
731,11327,2019,Jaipur,20-04-2019,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,5,SPD Smith,Sawai Mansingh Stadium,S Ravi,Yeshwant Barde,O Nandan
732,11328,2019,Delhi,20-04-2019,Kings XI Punjab,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,5,SS Iyer,Feroz Shah Kotla Ground,Ulhas Gandhe,C Shamshuddin,Bruce Oxenford
733,11329,2019,Hyderabad,21-04-2019,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,K Ahmed,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Nigel Llong,Ian Gould
734,11330,2019,Bengaluru,21-04-2019,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,normal,0,Royal Challengers Bangalore,1,0,PA Patel,M. Chinnaswamy Stadium,Vineet Kulkarni,Rod Tucker,Anil Chaudhary
735,11331,2019,Jaipur,22-04-2019,Rajasthan Royals,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,6,RR Pant,Sawai Mansingh Stadium,S Ravi,Nanda Kishore,Yeshwant Barde
736,11332,2019,Chennai,23-04-2019,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,SR Watson,M. A. Chidambaram Stadium,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
737,11333,2019,Bengaluru,24-04-2019,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Royal Challengers Bangalore,17,0,AB de Villiers,M. Chinnaswamy Stadium,Bruce Oxenford,C Shamshuddin,Rod Tucker
738,11334,2019,Kolkata,25-04-2019,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,3,VR Aaron,Eden Gardens,Ian Gould,Anil Dandekar,Nitin Menon
739,11335,2019,Chennai,26-04-2019,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,normal,0,Mumbai Indians,46,0,RG Sharma,M. A. Chidambaram Stadium,Nigel Llong,Anil Chaudhary,Vineet Kulkarni
740,11336,2019,Jaipur,27-04-2019,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,7,JD Unadkat,Sawai Mansingh Stadium,Yeshwant Barde,Nand Kishore,Sundaram Ravi
741,11337,2019,Delhi,28-04-2019,Delhi Capitals,Royal Challengers Bangalore,Delhi Capitals,bat,normal,0,Delhi Capitals,16,0,S Dhawan,Feroz Shah Kotla Ground,Bruce Oxenford,KN Ananthapadmanabhan,C Shamshuddin
742,11338,2019,Kolkata,28-04-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Kolkata Knight Riders,34,0,AD Russell,Eden Gardens,Ian Gould,Nitin Menon,Anil Dandekar
743,11339,2019,Hyderabad,29-04-2019,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab,field,normal,0,Sunrisers Hyderabad,45,0,DA Warner,Rajiv Gandhi Intl. Cricket Stadium,S Ravi,O Nandan,Nanda Kishore
744,11340,2019,Bengaluru,30-04-2019,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary
745,11341,2019,Chennai,01-05-2019,Chennai Super Kings,Delhi Capitals,Delhi Capitals,field,normal,0,Chennai Super Kings,80,0,MS Dhoni,M. A. Chidambaram Stadium,Anil Dandekar,Nitin Menon,Ian Gould
746,11342,2019,Mumbai,02-05-2019,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,tie,0,Mumbai Indians,0,0,JJ Bumrah,Wankhede Stadium,S Ravi,O Nandan,Nanda Kishore
747,11343,2019,Mohali,03-05-2019,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,7,S Gill,IS Bindra Stadium,Bruce Oxenford,C Shamshuddin,KN Ananthapadmanabhan
748,11344,2019,Delhi,04-05-2019,Rajasthan Royals,Delhi Capitals,Rajasthan Royals,bat,normal,0,Delhi Capitals,0,5,A Mishra,Feroz Shah Kotla Ground,Ian Gould,Anil Dandekar,Nitin Menon
749,11345,2019,Bengaluru,04-05-2019,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,S Hetmyer,M. Chinnaswamy Stadium,Nigel Llong,Anil Chaudhary,Ulhas Gandhe
750,11346,2019,Mohali,05-05-2019,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,KL Rahul,IS Bindra Stadium,KN Ananthapadmanabhan,C Shamshuddin,Bruce Oxenford
751,11347,2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin

In [176]:
TeamsFaceoff = Matches_of_2019[['team1','team2','winner']]
TeamsFaceoff.reset_index(inplace = True, drop = True)
TeamsFaceoff.head(3)
TeamsFaceoff

,team1,team2,winner
0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings
1,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders
2,Delhi Capitals,Mumbai Indians,Delhi Capitals
3,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab
4,Delhi Capitals,Chennai Super Kings,Chennai Super Kings
5,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders
6,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians
7,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad
8,Mumbai Indians,Kings XI Punjab,Kings XI Punjab
9,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals
10,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad
11,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings
12,Kings XI Punjab,Delhi Capitals,Kings XI Punjab
13,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals
14,Mumbai Indians,Chennai Super Kings,Mumbai Indians
15,Delhi Capitals,Sunrisers Hyderabad,Sunrisers Hyderabad
16,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
17,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings
18,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians
19,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals
20,Rajasthan Royals,Kolkata Knight Riders,Kolkata Knight Riders
21,Sunrisers Hyderabad,Kings XI Punjab,Kings XI Punjab
22,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings
23,Kings XI Punjab,Mumbai Indians,Mumbai Indians
24,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings
25,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals
26,Mumbai Indians,Rajasthan Royals,Rajasthan Royals
27,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore
28,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings
29,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals
30,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians
31,Kings XI Punjab,Rajasthan Royals,Kings XI Punjab
32,Chennai Super Kings,Sunrisers Hyderabad,Sunrisers Hyderabad
33,Mumbai Indians,Delhi Capitals,Mumbai Indians
34,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore
35,Mumbai Indians,Rajasthan Royals,Rajasthan Royals
36,Kings XI Punjab,Delhi Capitals,Delhi Capitals
37,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad
38,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore
39,Rajasthan Royals,Delhi Capitals,Delhi Capitals
40,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings
41,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore
42,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals
43,Mumbai Indians,Chennai Super Kings,Mumbai Indians
44,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals
45,Delhi Capitals,Royal Challengers Bangalore,Delhi Capitals
46,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders
47,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad
48,Royal Challengers Bangalore,Rajasthan Royals,NaN
49,Chennai Super Kings,Delhi Capitals,Chennai Super Kings
50,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians
51,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders
52,Rajasthan Royals,Delhi Capitals,Delhi Capitals
53,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore
54,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab
55,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians
56,Chennai Super Kings,Mumbai Indians,Mumbai Indians
57,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals
58,Delhi Capitals,Chennai Super Kings,Chennai Super Kings

TeamsFaceoffTeam 1 and Team 2 faceoff

In [177]:
#Main Code

team1 = RCB
team2 = MI


T1_key = team1.iloc[0,3]
TeamsDataT1 = TeamsData[TeamsData['IPL Team key'] == T1_key]
T1_Name = TeamsDataT1['IPL Team Name'].values[0]
#display(T1_Name)


T2_key = team2.iloc[0,3]
TeamsDataT2 = TeamsData[TeamsData['IPL Team key'] == T2_key]
T2_Name = TeamsDataT2['IPL Team Name'].values[0]
#display(T2_Name)


T1_T2 = TeamsFaceoff[(TeamsFaceoff['team1'] == T1_Name) & (TeamsFaceoff['team2'] == T2_Name) ]
#display(x)


T2_T1 = TeamsFaceoff[(TeamsFaceoff['team1'] == T2_Name) & (TeamsFaceoff['team2'] == T1_Name) ]
#display(y)


Total_matches = T1_T2.append(T2_T1)
display(Total_matches)  

print("")

print('Out of total',len(Total_matches),' matches')
print("")
try:
   t1 = Total_matches.groupby('winner').get_group(T1_Name)
   T1_win = t1.count().values[0]
   print('Total win of',T1_Name,'is',T1_win)
    
except:
   T1_win = 0
   print('Total win of',T1_Name,'is',T1_win)
print("")

try:
   t2 = Total_matches.groupby('winner').get_group(T2_Name)
   T2_win = t2.count().values[0]
   print('Total win of',T2_Name,'is',T2_win)
    
except:
  T2_win = 0 
  print('Total win of',T2_Name,'is',T2_win)

                          team1                        team2          winner
30  Royal Challengers Bangalore               Mumbai Indians  Mumbai Indians
6                Mumbai Indians  Royal Challengers Bangalore  Mumbai Indians

Out of total 2  matches

Total win of Royal Challengers Bangalore is 0

Total win of Mumbai Indians is 2

In [178]:
#Merge Main

print('1.Get the score')
print('')


T1 = RCB
T2 = MI


T1_key = T1.iloc[0,3]
TeamsDataT1 = TeamsData[TeamsData['IPL Team key'] == T1_key]
T1_Name = TeamsDataT1['IPL Team Name'].values[0]
#display(T1_Name)


T2_key = T2.iloc[0,3]
TeamsDataT2 = TeamsData[TeamsData['IPL Team key'] == T2_key]
T2_Name = TeamsDataT2['IPL Team Name'].values[0]
#display(T2_Name)



#Best batting score by Runs

T1_batting_score = 0
T2_batting_score = 0
T1_bowling_score = 0
T2_bowling_score = 0


for i in range(0,len(T1)):
  player = T1.iloc[i,0]
  
  for j in range(0,len(list_Best_Batsmen_2019)):
    best_batsmen = list_Best_Batsmen_2019.iloc[j,1]

    if(best_batsmen == player):
      T1_batting_score = T1_batting_score + list_Best_Batsmen_2019.iloc[j,3]

#print('Team 1 Score of best batsmen Score is ',T1_batting_score)

#print('')

for i in range(0,len(T2)):
  player = T2.iloc[i,0]
  
  for j in range(0,len(list_Best_Batsmen_2019)):
    best_batsmen = list_Best_Batsmen_2019.iloc[j,1]

    if(best_batsmen == player):
      T2_batting_score = T2_batting_score + list_Best_Batsmen_2019.iloc[j,3]

#print('Team 2 Score of best batsmen score is ',T2_batting_score)

#print('')



#Team 1
for i in range(0,len(T1)):
  player = T1.iloc[i,0]
  
  for j in range(0,len(list_Best_Bowler_2019)):
    best_bowler = list_Best_Bowler_2019.iloc[j,1]

    if(best_bowler == player):
      T1_bowling_score = T1_bowling_score + list_Best_Bowler_2019.iloc[j,2]

#print('Team 1 Score of best Bowling Score is ',T1_bowling_score)

#print('')

#Team -2 

for i in range(0,len(T2)):
  player = T2.iloc[i,0]
  
  for j in range(0,len(list_Best_Bowler_2019)):
    best_bowler = list_Best_Bowler_2019.iloc[j,1]

    if(best_bowler == player):
      T2_bowling_score = T2_bowling_score + list_Best_Bowler_2019.iloc[j,2]

#print('Team 2 Score of best Bowling Score is ',T2_bowling_score)

#print('')


Tty_Team1 = T1_batting_score + T1_bowling_score
Tty_Team2 =  T2_batting_score + T2_bowling_score


print('Total score of',T1_Name,'is',Tty_Team1)
print('')
print('Total score of',T2_Name,'is',Tty_Team2)

print('2.Matches')
print('')

#Main Code

team1 = T1
team2 = T2


T1_key = team1.iloc[0,3]
TeamsDataT1 = TeamsData[TeamsData['IPL Team key'] == T1_key]
T1_Name = TeamsDataT1['IPL Team Name'].values[0]
#display(T1_Name)


T2_key = team2.iloc[0,3]
TeamsDataT2 = TeamsData[TeamsData['IPL Team key'] == T2_key]
T2_Name = TeamsDataT2['IPL Team Name'].values[0]
#display(T2_Name)


T1_T2 = TeamsFaceoff[(TeamsFaceoff['team1'] == T1_Name) & (TeamsFaceoff['team2'] == T2_Name) ]
#display(x)


T2_T1 = TeamsFaceoff[(TeamsFaceoff['team1'] == T2_Name) & (TeamsFaceoff['team2'] == T1_Name) ]
#display(y)


Total_matches = T1_T2.append(T2_T1)
display(Total_matches)  

print("")

print('Out of total',len(Total_matches),' matches')
print("")
try:
   t1 = Total_matches.groupby('winner').get_group(T1_Name)
   T1_win = t1.count().values[0]
   print('Total win of',T1_Name,'is',T1_win)
    
except:
   T1_win = 0
   print('Total win of',T1_Name,'is',T1_win)
print("")

try:
   t2 = Total_matches.groupby('winner').get_group(T2_Name)
   T2_win = t2.count().values[0]
   print('Total win of',T2_Name,'is',T2_win)
    
except:
  T2_win = 0 
  print('Total win of',T2_Name,'is',T2_win)

1.Get the score

Total score of Royal Challengers Bangalore is 60

Total score of Mumbai Indians is 160
2.Matches

                          team1                        team2          winner
30  Royal Challengers Bangalore               Mumbai Indians  Mumbai Indians
6                Mumbai Indians  Royal Challengers Bangalore  Mumbai Indians

Out of total 2  matches

Total win of Royal Challengers Bangalore is 0

Total win of Mumbai Indians is 2

In [179]:
#decison tree
tm1_MS = Tty_Team1
tm2_MS = Tty_Team2
#print(tm1_MS,tm2_MS)

tm1_MW = T1_win
tm2_MW = T2_win
#print(tm1_MW,tm2_MW)

T1_Name = T1_Name
T2_Name = T2_Name

#Score

print("--Report--")
print('-----------------------------------------------------------------------------------------')

print("-Score-")
print("")
print('Total best Score of',T1_Name,'is',tm1_MS)
print("")
print('Total best Score of',T2_Name,'is',tm2_MS) 
print("")

print('-----------------------------------------------------------------------------------------')

#matches
tty_matches = len(Total_matches)
print("-Matches-")
print("")
print('Out of total',len(Total_matches),'matches')
print("")
print(T1_Name,'has won',tm1_MW,'times')
print("")
print(T2_Name,'has won',tm2_MW,'times')
print("")

print('-----------------------------------------------------------------------------------------')




if((tm1_MS > tm2_MS) and (tm1_MW > tm2_MW)):  #1
  print("Summary -")
  print("")
  print('1',T1_Name,'has more Score in terms of best batsmen and best bowler as compare to',T2_Name)
  print("")
  print('2',T1_Name,'has won more Matches in previous year 2019 with',T2_Name)
  print("")
  print("- Then we say more chance likely to be Win",T1_Name)   #AFTER 
  print("")
  
  #print("T1 more score and T1 more win")
elif((tm1_MS > tm2_MS) and (tm2_MW > tm1_MW)):  #2
  print("Summary -")
  print("")
  print('1',T1_Name,'has more Score in terms of best batsmen and best bowler as compare to',T2_Name)
  print("")
  print('2',T2_Name,'has won more Matches in previous year 2019 with',T1_Name)
  print("")
  print("- Then we say Equally chances of both team to be win and loss",T1_Name,'and',T2_Name)   #AFTER 
  print("")
  
  
  #print("T1 more score and T2 more win")
elif((tm2_MS > tm1_MS) and (tm2_MW > tm1_MW)):   #3
  print("Summary -")
  print("")
  print('1',T2_Name,'has more Score in terms of best batsmen and best bowler as compare to',T1_Name)
  print("")
  print('2',T2_Name,'has won more Matches in previous year 2019 with',T1_Name)
  print("")
  print("- Then we say more chance likely to be Win is",T2_Name)
  print("")
      
 # print("T2 more score and T2 more win")
elif((tm2_MS > tm1_MS) and (tm1_MW > tm2_MW)):    #4
  print("Summary -")
  print("")
  print('1',T2_Name,'has more Score in terms of best batsmen and best bowler as compare to',T1_Name)
  print("")
  print('2',T1_Name,'has won more Matches in previous year 2019 with',T2_Name)
  print("")
  print("- Then we say Equally chances of both team to be win and loss",T1_Name,'and',T2_Name)
  print("")
  
  #print("T2 more score and T1 more win")
elif((tm1_MS == tm2_MS) and (tm1_MW == tm2_MW)):      #5
  print("Summary -")
  print("")
  print('1',T1_Name,'has equal Score in terms of best batsmen and best bowler as compare to',T2_Name)
  print("")
  print('2',T1_Name,'has won equal Matches in previous year 2019 with',T2_Name)
  print("")
  print("- Then we say Equally chances of both team to be win and loss",T1_Name,'and',T2_Name)
  print("")
  
 # print("T1 EQUAL score T2 and T1 EQUAL win T2")
elif((tm1_MS == tm2_MS) and (tm1_MW > tm2_MW)):  #6
  print("Summary -")
  print("")
  print('1',T1_Name,'has equal Score in terms of best batsmen and best bowler as compare to',T2_Name)
  print("")
  print('2',T1_Name,'has won more Matches in previous year 2019 with',T2_Name)
  print("")
  print("- Then we say more chance likely to be Win is",T1_Name)
  print("")
  
 # print("T1 EQUAL score T2 and T1 more win")
elif((tm1_MS == tm2_MS) and (tm2_MW > tm1_MW)):      #7
  print("Summary -")
  print("")
  print('1',T1_Name,'has equal Score in terms of best batsmen and best bowler as compare to',T2_Name)
  print("")
  print('2',T2_Name,'has won more Matches in previous year 2019 with',T1_Name)
  print("")
  print("- Then we say more chance likely to be Win is",T2_Name)
  print("")
  
  
 # print("T1 EQUAL score T2 and T2 more win")
elif((tm1_MS > tm2_MS) and (tm1_MW == tm2_MW)):      #8
  print("Summary -")
  print("")
  print('1',T1_Name,'has more Score in terms of best batsmen and best bowler as compare to',T2_Name)
  print("")
  print('2',T1_Name,'has won equal Matches in previous year 2019 with',T2_Name)
  print("")
  print("- Then we say more chance likely to be Win is",T1_Name)
  print("")
  
 # print("T1 more score and T1 equal win T2")
elif((tm2_MS > tm1_MS) and (tm1_MW == tm2_MW)):        #9
  print("Summary -")
  print("")
  print('1',T2_Name,'has more Score in terms of best batsmen and best bowler as compare to',T1_Name)
  print("")
  print('2',T1_Name,'has won equal  Matches in previous year 2019 with',T1_Name)
  print("")
  print("- Then we say more chance likely to be Win is",T2_Name)
  print("")

 # print("T2 more score and T1 equal win T2")

--Report--
-----------------------------------------------------------------------------------------
-Score-

Total best Score of Royal Challengers Bangalore is 60

Total best Score of Mumbai Indians is 160

-----------------------------------------------------------------------------------------
-Matches-

Out of total 2 matches

Royal Challengers Bangalore has won 0 times

Mumbai Indians has won 2 times

-----------------------------------------------------------------------------------------
Summary -

1 Mumbai Indians has more Score in terms of best batsmen and best bowler as compare to Royal Challengers Bangalore

2 Mumbai Indians has won more Matches in previous year 2019 with Royal Challengers Bangalore

- Then we say more chance likely to be Win is Mumbai Indians